{%extends 'base.html'%}
{%block content%}
{% load bootstrap3 %} {% load staticfiles%}
<div class="container">
<div class="row">
<div style="margin-top:20px;" class='col-md-12'>
<div style="width:100%;" class="w3-container card">

  <div class="w3-card-4" style="width:50%;">
    <header class="w3-container edge">
      <h1>{{neighbourhood.name}} Neighbourhood</h1>
    </header>

    <div class="w3-container content">
      <p>{{neighbourhood.name}}</p>
      <p>location: {{neighbourhood.location}}</p>
      <p>admin: {{neighbourhood.admin}}</p>

    </div>

    <!-- <footer class="w3-container edge">
      <h5>Footer</h5>
    </footer> -->
  </div>
</div>
 </div>
 </div>
 </div>

 <style>
 .content{
   background-color: white;
 }
 .card{
   width:100%;
 }
 .edge{
   background-color: #4F0505;
   color:white;
 }

 </style>

 {%endblock%}
